@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.clothes-card-container {
  .item-card {
    display: flex;
    flex-direction: column;

    .item-image {
      img {
        height: 100%;
        width: 100%;
      }
    }

    .item-info {
      margin-top: 10px;

      .item-title {
        height: 100px;
      }

      .item-price-buy {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-family: Roboto, "Times New Roman", Times, serif;
          font-size: 22px;
        }

        .item-quantity {

          input {
            flex: 0;
            margin-right: 5px;
            width: 200px;
            border: 1px solid rgba(0, 0, 0, 0.178);
            text-align: center;
          }
          button {
            border: none;
            background-color: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.178);
          }
        }
      }
    }
  }
}
