nav {
  padding: 25px 50px 25px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      display: flex;
      align-items: center;

      .cart-section {
        display: block;
        position: relative;
        .cart-total {
          font-size: 15px;
          font-weight: bold;
          position: absolute;
          right: 0;
          left: 5px;
          top: 38px;
          bottom: 0;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .nav-header {
      justify-content: center;
      a {
        color: black;
        text-decoration: none; /* no underline */
      }
    }

    .nav-right-buttons {
      display: flex;
      gap: 25px;
      justify-content: flex-end;
      align-items: center;

      div {
        display: flex;
        align-items: center;
      }
    }
  }
}
