@media (max-width: 600px) {
  .clothes-card-container {
    grid-template-columns: repeat(1, 1fr);

    .item-card .item-info .item-price-buy {
      gap: 25px;
      .item-quantity {
        display: flex;
        justify-content: space-between;

        input {
          width: 75px;
          height: 25px;
        }
        button {
        }
      }
    }
  }

  nav {
    padding: 25px 15px 25px 15px;

    ul {
      grid-template-columns: 0.5fr 1fr 1fr;

      .nav-header {
        font-size: 15px;
        white-space: nowrap;
      }

      .nav-right-buttons {
        gap: 10px;
      }
    }
  }

  .shopping-cart-modal {
    .shopping-cart-container {
      width: 100%;
      height: 100%;

      .list-item-inputs {
        display: flex;

        input{
            flex: 0;
        }
    
      }
    }
  }
}
